a {
    text-decoration: none;
  }
  
  a#link {
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a#link:hover {
    color: #B01EFF;
  }
  
  .button {
    cursor: pointer;
    width: 250px;
    height: 80px;
    background: white;
    border-radius: 50px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
    
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 40px;
    padding-left: 0px;
    margin-left: 0px;
  }
  
  @keyframes gradient {
    0% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
    10% { background: linear-gradient(90deg, #d53369 0%, #daae51 100%) }
    20% { background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%) }
    30% { background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%) }
    40% { background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%) }
    50% { background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) }
    60% { background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%) }
    70% { background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%) }
    80% { background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%) }
    90% { background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%) }
    100% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
  }














footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: 0px;
    padding-top: 0px;
}

header {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#toplevel {
    text-align: center;
    float: right;
    position: relative;
    z-index: 1;
    background-color: tan;
    padding-bottom: 42px;

}

#title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 5em;
    color: black;
    background-color:  tan;    
}

.row {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    background-color:  #5C755E;
    box-sizing: content-box;
    padding: 20px 80px 20px 40px;
}

a:hover {
    color: tan;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: yellow;
}

#titlepic {
    width: 80px;
    height: 80px;
}

html body{
    background-color: tan;
}

.member {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    background-color: #9C9F84;
    margin-bottom: 0px;
}   

h2 {
    text-align: center;
}
#fixmargin {
    margin: 0px 0px 0px 0px;
}

#thickline {
    width: 100%;
    border-top: 10px dashed black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#para {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 900;
    font-style: italic;
    background-color: #9C9F84;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}